---
Language:        Cpp
# BasedOnStyle:  LLVM, Google, Chromium, Mozilla, WebKit
BasedOnStyle:    Google
IndentWidth:     2
ColumnLimit:     80
SortIncludes:    true
IncludeBlocks:   Merge
ReflowComments:  true